body {
    background-color: green;
}

table, td, th {
    border: 1px solid black;
    border-spacing: 0px;
}

.par {
    background: rgb(92, 251, 92);
}

.scoreInput {
    width: 22px;
}

.player {
    background: white;
}

.yards {
    background: blue;
}

.holes {
    background: rgb(138, 138, 138);
}