body {
    // background-color: green;
    background-image: url("../../../assets/KukuiulaGolfHole14.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    // height: 100vh;
}

.wrapper {
    height: 100vh;
    margin: 0 auto;
    width: 1000px;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

h3{
    font-size: 40px;
    margin: 80px;
}

.container {
    // height: ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scorecard {
    display: flex;
    // margin: 0 auto;
    // margin: 100px;
    // justify-content: center;
    // align-content: center;
    // align-self: center;
    align-items: center;
}

table, td, th {
    border: 1px solid black;
    border-spacing: 0px;
}

.par {
    background: rgb(92, 251, 92);
}

.scoreInput {
    width: 22px;
}

.player {
    background: white;
}

.yards {
    background: blue;
    color: white;
}

.holes {
    background: rgb(138, 138, 138);
}